// ====================================================================
// 
//	FEATURETTES PANEL
//	Feature panel for home page.
//
//	File name:	_featurettes-panel.scss
//	Author:			Helen Liu
//	Version 		1.0
// 
// ====================================================================

.featurettes-panel {
	position: relative;
	// border-bottom: $border-panel;
}

.featurettes-panel--item {
	padding: rem-calc($space-xl);
	padding-left: 0;
	// text-align: center;

	@include breakpoint(large down) { // 1024
		padding: rem-calc($space-xl);
		padding-left: 0;
	}

	@include breakpoint(smed down) { // 420
		padding: 0;
	}
}

.featurettes-panel--image {
	text-align: center;
	img {
		max-width: 60%;
	}
}

.featurettes-panel--title {
	font: {
		family: $sans-serif-typeface-2;
		size: 2vw; //rem-calc(34);
		weight: $regular;
	}
	line-height: 1.2em;
	text-align: center;

	@include breakpoint(medium down) { // 768
		font: {
			size: 5vw; //rem-calc(24);
		}
	}

	@include breakpoint(smed down) { // 768
		font: {
			size: 8vw; //rem-calc(24);
		}
	}
}

.featurettes-panel--content {

	* {
		// font: {
		// 	size: 0.9vw; //rem-calc(16);
		// 	weight: $regular;
		// }

		// @include breakpoint(xlarge) { // 1024
		// 	font: {
		// 		size: 0.9vw; //rem-calc(16);
		// 	}
		// }

		// @include breakpoint(medium down) { // 768
		// 	font: {
		// 		size: 4vw; //rem-calc(13);
		// 	}
		// }
	}
	
}