// ====================================================================
// 
//	FEATURETTES PANEL
//	Feature panel for home page.
//
//	File name:	_featurettes-panel.scss
//	Author:			Helen Liu
//	Version 		1.0
// 
// ====================================================================

.featurettes-panel {
	position: relative;
}

.featurettes-panel--item {
	padding: {
		top: rem-calc($space-l);
		bottom: rem-calc($space-l);
	}

	@include breakpoint(large down) { // 320
		padding: {
			top: rem-calc($space-m);
			bottom: rem-calc($space-m);
		}
	}

	@include breakpoint(small down) { // 320
		// padding: 0;
	}
}

.featurettes-panel--image {
	text-align: center;
	img {
		max-width: 60%;
	}
}

.featurettes-panel--title {
	font: {
		// family: $sans-serif-typeface-2;
		// size: 2.2vw; //rem-calc(34);
		weight: $regular;
	}
	// line-height: 1.2em;
	// margin-bottom: 0.2em;
	text-align: center;

	@include breakpoint(large down) { // 768
		// font: {
		// 	size: rem-calc(24);
		// }
	}

	@include breakpoint(small down) { // 768
		// font: {
		// 	size: 8vw; //rem-calc(24);
		// }
	}
}

.featurettes-panel--content {

	> * {
		@include breakpoint(medium) {
			font: {
				size: 85%;
			}
		}
		// font: {
		// 	size: 1vw; //rem-calc(16);
		// 	weight: $regular;
		// }

		// @include breakpoint(xxxlarge down) { // 1024
		// 	font: {
		// 		size: 1.1vw; //rem-calc(16);
		// 	}
		// }

		// @include breakpoint(large down) { // 1024
		// 	font: {
		// 		size: rem-calc(13);
		// 	}
		// }

		// @include breakpoint(medium down) { // 768
		// 	font: {
		// 		size: rem-calc(14);
		// 	}
		// }
	}
	
}