// ====================================================================
// 
//	HEADER PANEL
//	Panel containing utilities - predominantly for desktop layouts.
//
//	FIle name:	_header-panel.scss
//	Author:			Helen Liu
//	Version 		1.0
// 
// ====================================================================

.header--panel {
	position: relative;
	padding: 1em; //$space-s $space-m;
	text-align: center;
}

.header--panel--header {

}

.header--panel--title {
	font: {
		family: $sans-serif-typeface-2;
		// size: 5vw;
		weight: $bold;
	}

	@include breakpoint(medium down) { // 768
		// font: {
		// 	size: 6vw;
		// }
	}

	// @include breakpoint(smed down) { // 420
	// 	font: {
	// 		size: 8vw; //rem-calc(40);
	// 	}
	// 	line-height: 1em;
	// }

	@include breakpoint(small down) {
		// font: {
		// 	size: rem-calc(40);
		// }
		// line-height: 1em;
	}

	// Sub-title
	span {
		font: {
			weight: $regular;
		}

		@include breakpoint(smed down) {
			display: block;
			font: {
				size: 75%; //7vw;
			}
			// margin-bottom: 0.25em;
			color: $medium-grey;
		}

		// @include breakpoint(small down) {
		// 	font: {
		// 		size: rem-calc(30);
		// 	}
		// }
	}
}

.header--panel--content {
	* {
		@include breakpoint(xlarge) { // 1200
			// font: {
			// 	size: 1.6vw;
			// }
		}

		@include breakpoint(large down) { // 1024
			// font: {
			// 	size: rem-calc(20); //inherit; //1.8vw;
			// }
		}

		@include breakpoint(medium down) { // 768
			// font: {
			// 	size: rem-calc(16); //2vw;
			// }
		}

		// @include breakpoint(smed down) { // 768
		// 	font: {
		// 		size: rem-calc(18); //3vw;
		// 	}
		// }

		@include breakpoint(small down) { // 768
			// font: {
			// 	size: rem-calc(16); //2vw;
			// }
		}
	}
}