// ====================================================================
// 
//	HEADER PANEL
//	Panel containing utilities - predominantly for desktop layouts.
//
//	FIle name:	_header-panel.scss
//	Author:			Helen Liu
//	Version 		1.0
// 
// ====================================================================

.header--panel {
	position: relative;
	padding: $global-padding;
	text-align: center;
}

.header--panel--header {

}

.header--panel--title {
	font: {
		family: $sans-serif-typeface-2;
		size: 5vw;
		weight: $bold;
	}

	@include breakpoint(medium down) {
		font: {
			size: 6vw;
		}
	}

	@include breakpoint(small down) {
		font: {
			size: 12vw;
		}
	}

	// Sub-title
	span {
		font: {
			weight: $regular;
		}
		@include breakpoint(small down) {
			display: block;
			font: {
				size: 9vw;
			}
			color: $medium-grey;
		}
	}
}

.header--panel--content {
	* {
		font: {
			family: $serif-typeface-1;
			size: 1.7vw;
			weight: $regular;
		}

		@include breakpoint(large down) {
			font: {
				size: 2vw;
			}
		}

		@include breakpoint(medium down) {
			font: {
				size: 2.5vw;
			}
		}

		@include breakpoint(small down) {
			font: {
				size: 4.5vw;
			}
		}
	}
}