// ====================================================================
// 
//	HEADER PANEL
//	Panel containing utilities - predominantly for desktop layouts.
//
//	FIle name:	_header-panel.scss
//	Author:			Helen Liu
//	Version 		1.0
// 
// ====================================================================

.header--panel {
	position: relative;
	padding: $space-s $space-m;
	text-align: center;
}

.header--panel--header {

}

.header--panel--title {
	font: {
		family: $sans-serif-typeface-2;
		size: 5vw;
		weight: $bold;
	}

	@include breakpoint(medium down) { // 768
		font: {
			size: 6vw;
		}
	}

	@include breakpoint(smed down) {
		font: {
			size: 10vw;
		}
		line-height: 0.9em;
	}

	@include breakpoint(small down) {
		font: {
			size: 12vw;
		}
		line-height: 1em;
	}

	// Sub-title
	span {
		font: {
			weight: $regular;
		}

		@include breakpoint(smed down) {
			display: block;
			font: {
				size: 7vw;
			}
			margin-bottom: 0.25em;
			color: $medium-grey;
		}

		@include breakpoint(small down) {
			// display: block;
			font: {
				size: 9vw;
			}
			// margin-bottom: 0.25em;
			// color: $medium-grey;
		}
	}
}

.header--panel--content {
	* {
		// font: {
		// 	family: $serif-typeface-1;
		// 	size: 1.3vw;
		// 	weight: $regular;
		// }

		// @include breakpoint(xxxlarge) {
		// 	font: {
		// 		size: 1.3vw;
		// 	}
		// }

		@include breakpoint(xlarge) { // 1200
			font: {
				size: 1.6vw;
			}
		}

		@include breakpoint(large down) { // 1024
			font: {
				size: 1.8vw;
			}
		}

		@include breakpoint(medium down) { // 768
			font: {
				size: 2vw;
			}
		}

		@include breakpoint(small down) { // >768
			font: {
				size: rem-calc(18); //4.3vw;
			}
		}
	}
}